.fundo-home{
    background-color:#CAEDBA;
}

.p-70{
    padding-left: 25px;
}
.radio{

    border-radius: 35px 35px
 
  }
 .radios{
    border-radius: 25px 25px 

 }

 .topradios{
 
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

}

.fundo-menu{
  background-color: #10501C;
}


.fundoVerdinClarin{

  background-color: #CAEDBA;

}
.C:hover{

  color: rgb(31, 40, 129);
  background-color: rgb(46, 73, 163);

}
.C{

  
  background-color: rgb(30, 51, 117);

}
.A:hover{

    background-color: rgb(204, 0, 0);

}
.A{

  background-color: rgb(212, 12, 12);

}
.S:hover{

  background-color: rgb(170, 201, 31);

}
.S{

   background-color: rgb(221, 250, 91);

}

.a{

  color:#0F501D;
}